.addon {
	--gap: 0rem 2rem;
	grid-template:
		"checkbox title price" auto
		"checkbox description price" auto / max-content minmax(10vw, 17.5rem)
		max-content;
	align-items: center;
	border: 1px solid hsl(231, 11%, 63%);
	padding: 1rem;
	border-radius: 0.5rem;
	cursor: pointer;
}

.addon.included {
	background-color: hsla(206, 94%, 87%, 0.3);
	border: 1px solid hsl(243, 100%, 62%);
}

.addon-title {
	grid-area: title;
	margin-bottom: 0.3rem;
}

.addon-price {
	grid-area: price;
	justify-self: right;
}

.addon-description {
	grid-area: description;
	color: hsl(231, 11%, 63%);
	font-size: 0.9rem;
}

.checkbox {
	width: 1.3rem;
	aspect-ratio: 1;
	border: 1px solid hsl(231, 11%, 63%);
	border-radius: 0.3rem;
	place-items: center;
	grid-area: checkbox;
}

.checkbox svg {
	display: none;
}

.checked {
	border: 1px solid hsl(243, 100%, 62%);
	background-color: hsl(243, 100%, 62%);
}

.checkbox.checked svg {
	display: block;
}

@media screen and (max-width: 40rem) {
	.addon {
		gap: 0 0.75rem;
		padding: 0.75rem;
	}
	.addon-title {
		font-size: 1rem;
		font-weight: 700;
	}

	.addon-description {
		font-size: 0.8rem;
	}
}
