.plan {
	cursor: pointer;
	border-radius: 0.5rem;
	padding: 1rem;
	border: 1px hsl(231, 11%, 63%) solid;
}

.plan:hover {
	border: 1px hsl(243, 100%, 62%) solid;
}

.plan img {
	margin-block-end: 2rem;
}

.plan .name {
	margin-bottom: 0.2rem;
}

.plan .free-offer {
	margin-top: 0.5rem;
}

.SelectedPlan {
	background-color: hsla(206, 94%, 87%, 0.3);
	border: 1px hsl(243, 100%, 62%) solid;
}

@media screen and (max-width: 40rem) {
	.plan {
		display: grid;
		grid-template:
			"image plan-name" max-content
			"image price" max-content
			"image free-offer" max-content / max-content max-content;
		gap: 0rem 1rem;
		padding: 1rem;
	}

	.plan img {
		grid-area: image;
		margin: 0;
	}

	.plan .name {
		grid-area: plan-name;
	}

	.free-offer {
		grid-area: free-offer;
	}
}
